@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: url("/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* dark mode looking scrollbar */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #c65661;
}

::-webkit-scrollbar-thumb {
	background: #7e3636;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #8b3737;
}
